html, body
{
    margin:0px;
    padding-bottom: 10px;
}
body
{
height: auto;
width: 50%;
margin-left: auto;
margin-right: auto;
background-color: aquamarine;
}
p
{
text-align: center;
font-size: 26px;
padding: 0px 5% 0px 5%;
}
h1
{
text-align: center;
font-size: 55px;
}
div
{
    display:block;
    border: solid 2px #fff;
    margin: 10px;
    background-color: #fff;
    margin-top: 10%;
}
.Input
{
   width: 95%; 
   height: auto;
   padding: 10px 10px 10px 10px;
   font-size: 20px;
}
fieldset
{
    width: 90%;
    padding: 10px 0 10px 0;
    margin-left: 5%;
    font-size: 20px;
}
#submit
{
padding: 5px;
background: #028A3D;
color: #fff;
width: 40%;
margin-left: auto;
margin-right: auto;
font-size: 30px;
}
form
{
  padding-top:10%; 
  padding-bottom: 10%;
  font-size: 26PX; 
}
span
{
    padding-left: 5%;
}
.button
{
    display: flex;
    justify-content: space-between;
}
button
{
    width: 40%;
    padding:10px;
    font-size: 20px;
    color: #fff;
}
#quitter
{
background: #EC880C;
;
}
.suivant
{
    background: #028A3D;
}